In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('titanic.csv')
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
inputs=df.drop(['Survived','PassengerId','Name','Age','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
target=df.Survived
inputs.isna().sum()

Pclass    0
Sex       0
Fare      0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_Sex=LabelEncoder()
inputs['Sex_n']=le_Sex.fit_transform(inputs['Sex'])

In [6]:
inputs.drop(['Sex'],axis=1,inplace=True)
inputs

     Pclass      Fare  Sex_n
0         3    7.2500      1
1         1   71.2833      0
2         3    7.9250      0
3         1   53.1000      0
4         3    8.0500      1
5         3    8.4583      1
6         1   51.8625      1
7         3   21.0750      1
8         3   11.1333      0
9         2   30.0708      0
10        3   16.7000      0
11        1   26.5500      0
12        3    8.0500      1
13        3   31.2750      1
14        3    7.8542      0
15        2   16.0000      0
16        3   29.1250      1
17        2   13.0000      1
18        3   18.0000      0
19        3    7.2250      0
20        2   26.0000      1
21        2   13.0000      1
22        3    8.0292      0
23        1   35.5000      1
24        3   21.0750      0
25        3   31.3875      0
26        3    7.2250      1
27        1  263.0000      1
28        3    7.8792      0
29        3    7.8958      1
..      ...       ...    ...
861       2   11.5000      1
862       1   25.9292      0
863       3   69.5500      0
864       2   13.0000      1
865       2   13.0000      0
866       2   13.8583      0
867       1   50.4958      1
868       3    9.5000      1
869       3   11.1333      1
870       3    7.8958      1
871       1   52.5542      0
872       1    5.0000      1
873       3    9.0000      1
874       2   24.0000      0
875       3    7.2250      0
876       3    9.8458      1
877       3    7.8958      1
878       3    7.8958      1
879       1   83.1583      0
880       2   26.0000      0
881       3    7.8958      1
882       3   10.5167      0
883       2   10.5000      1
884       3    7.0500      1
885       3   29.1250      0
886       2   13.0000      1
887       1   30.0000      0
888       3   23.4500      0
889       1   30.0000      1
890       3    7.7500      1

[891 rows x 3 columns]

In [7]:
from sklearn import tree
from sklearn.model_selection import train_test_split
model=tree.DecisionTreeClassifier(criterion='entropy')

X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.25,random_state=1)
model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [8]:
model.score(X_test,y_test)

0.8475336322869955